.tile{
	background-color: #DE7C00;
	display: inline-block;
	padding: 35px;
	margin: 4px;
	border-width: 2px;
    text-align: center;
    font-size: 13px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
}



/* Grow */
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.03);
}